<launch>

	<node
        name="demo_actuate" pkg="pinteraction" type="demo_actuate.py" respawn="false">
	</node>

	<node
		name="demo_interface" pkg="pinteraction" type="demo_interface.py" respawn="false" required="true" output="screen">
	</node>

	<!--ARDUINO  -->
    <node
        name="serial_node_1" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino1" respawn="true">
    </node>

    <node
        name="serial_node_2" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino2" respawn="true">
    </node>

    <node
        name="serial_node_3" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino3" respawn="true">
    </node>

    <node
        name="serial_node_4" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino4" respawn="true">
    </node>

    <node
        name="serial_node_5" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino5" respawn="true">
    </node>

    <node
        name="serial_node_6" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino6" respawn="true">
    </node>

    <node
        name="serial_node_7" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino7" respawn="true">
    </node>

    <node
        name="serial_node_8" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino8" respawn="true">
    </node>

    <node
        name="serial_node_9" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino9" respawn="true">
    </node>
    
    <node
        name="serial_node_10" pkg="rosserial_python" type="serial_node.py" args="/dev/Arduino10" respawn="true">
    </node>

</launch>