<launch>

	<node
        name="feedback" pkg="pinteraction" type="feedback.py" respawn="false" required="true">
	</node>

	<!--ARDUINO  -->
    <node
        name="serial_node_0" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0" respawn="true">
    </node>

    <node
        name="serial_node_1" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM1" respawn="true">
    </node>

    <node
        name="serial_node_2" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM2" respawn="true">
    </node>

    <node
        name="serial_node_3" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM3" respawn="true">
    </node>

    <node
        name="serial_node_4" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM4" respawn="true">
    </node>

    <node
        name="serial_node_5" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM5" respawn="true">
    </node>

    <node
        name="serial_node_6" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM6" respawn="true">
    </node>

    <node
        name="serial_node_7" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM7" respawn="true">
    </node>

    <node
        name="serial_node_8" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM8" respawn="true">
    </node>

    <node
        name="serial_node_9" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM9" respawn="true">
    </node>

</launch>